.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: #554747;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-navigation_logo h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #f33506;
}

.main-navigation_item {
  margin-left: 1.5rem;
}

.main-navigation_item ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

.main-navigation_item li {
  margin: 0 1rem;
}

.main-navigation_item a {
  text-decoration: none;
  color: #3bac4e;
}

.main-navigation_item a:hover,
.main-navigation_item a:active,
.main-navigation_item a.active {
  color: #17da6d;
}
